{% extends 'layout.html' %}


{% block body %}
<style>
    #map {
        display: block;
        width: 90%;
        margin: auto;
    }
</style>
<div class="row text-center nav">
  <a href="/"><div class="col-xs-3 tabs active"><span class="glyphicon glyphicon-home"></span></br>All</div></a>
  <a href="humangates"><div class="col-xs-3 tabs "><span class="glyphicon glyphicon-home"></span></br>Human Gates</div></a>
  <a href="cargates"><div  class="col-xs-3 tabs"><span class="glyphicon glyphicon-th-list"></span></br>Car Gates</div></a>
  <a href="staircases"><div  class="col-xs-3 tabs "><span class="glyphicon glyphicon-time"></span></br>Staircases</div></a>
</div>

<a href="https://imgur.com/LnuelP5"><img src="https://i.imgur.com/LnuelP5.png" title="source: imgur.com" id="map"/></a>
{% endblock %}
